<!-- <div class="card mb-2">
  <div class="card-body"> -->
    <%#= message.user.email %> <!-- <br>
    <%#= message.body %> <br>
  <!-- </div>
</div> -->
<div class="bubble <% if message.user_id === current_user.id %> bubble-primary <% else %> bubble-secondary <% end %>">
    <%= message.body %>
</div> <br>
