<%= form_with model: [@profile, @profile.comments.build] do |f| %>
  <div class="field mb-2">
    <%= f.text_area :body, class: 'form-control', style: 'height: 150px; resize: none;', placeholder: 'Leave a comment...' %>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-dark' %>
<% end %>

<%= render 'comments' %>
