<% @profiles.each do |profile| %>
  <div class="card">
    <div class="card-header">
      <%= profile.user.email %> <br>
    </div>
    <div class="card-body">
      <%= profile.about %> <br>
      <%= image_tag(profile.image) %>
    </div>
  </div>


<% end %>
